<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/controllerPannel.css">
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
    <!-- endbuild -->
</head>
<body ng-app="asemanApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar "></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">ASEMAN</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li class="active ">
                        <a href="#/" class="fa fa-2x fa-home"></a>
                    </li>
                    <li class="active ">
                        <a href="#/sendPacket" class="fa fa-2x fa-paper-plane"></a>
                    </li>
                    <li class="active ">
                        <a href="#/dbConfig" data-toggle="modal" data-target="#dbConfig"
                           class="fa fa-2x fa-database"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div ng-view=""></div>
</div>

<div class="footer">
    <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> Seyed Jalal Hosseini</p>
    </div>
</div>

<!--Modal: Database Config-->
<div class="modal fade" id="dbConfig" tabindex="-1" role="dialog" aria-labelledby="dbConfigLbl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title " id="dbConfigLbl"><span class="fa fa-1x fa-database">  Database Config</span>
                </h4>
            </div>
            <div class="modal-body" ng-controller="dbConfigCtrl as dbConfig">
                <div class="form-group">
                    <label for="dbUrl"> Database Url</label>
                    <input ng-model="dbConfig.db.url" type="url" class="form-control" id="dbUrl"
                           placeholder="127.1.1.1:3066">
                </div>
                <div class="form-group">
                    <label for="dbUser"> Username</label>
                    <input ng-model="dbConfig.db.user" type="username" class="form-control"
                           id="dbuser" placeholder="root">
                </div>
                <div class="form-group">
                    <label for="dbPass">Password</label>
                    <input ng-model="dbConfig.db.pass" type="password" class="form-control"
                           id="dbPass" placeholder="Password">
                </div>
                <button type="button" class="btn"
                        ng-class="dbConfig.isConnected(dbConfig.db.status) ?'btn btn-success' : 'btn-danger' ">
                    Test Connection
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<!-- endbower -->
<!-- endbuild -->
<script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/aseman/asemanModule.js"></script>
<script src="scripts/aseman/packet/packet.js"></script>
<script src="scripts/aseman/packet/packetProvider.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/dbConfig.js"></script>
<script src="scripts/controllers/packet.js"></script>
<script src="scripts/controllers/controller.js"></script>
<script src="scripts/controllers/sendPacket.js"></script>
<script src="scripts/services/configService.js"></script>
<script src="scripts/services/packetService.js"></script>
<script src="scripts/services/controllerService.js"></script>
<!-- endbuild -->
</body>
</html>
