<div class="row">
  <div>

  </div>
</div>
<div class="row">
    <div class="col-md-12" ng-controller="PacketCtrl as packetCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Packetss</h3>
            </div>
            <div class="panel-body">
                <div ui-grid="{ data:  packetCtrl.packets}" class="packets"></div>
                <div ng-repeat="packet in packetCtrl.packets">
                    <h4 ng-bind="packet.lastPacketId"></h4>
                </div>
                <!--<p ng-bind="packetCtrl.packets.lastPacketId"></p>-->
            </div>
        </div>
    </div>

</div>